/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f4f6f9;
  --primary-color: #f5df66;
  --secondary-color: #eaecf2;
  --text-color: #333333;
  --primary-color-hover: #e0c24b;
  --secondary-color-hover: #d1d1d1;
}

:root.dark-mode {
  --background-color: #121212;
  --primary-color: #f5df66;
  --secondary-color: #1e1e1e;
  --text-color: #ffffff;
  --primary-color-hover: #e0c24b;
  --secondary-color-hover: #2c2c2c;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.divider {
  width: 100%;
  height: 0.15rem;
  background-color: #ccc;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
